.snake {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 67%;
  canvas {
    background-color: black;
    border: 1px solid white;
  }
  .score {
    width: 605px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    p {
      font-size: larger;
      font-weight: 500;
    }
  }
}
