.canvas {
    outline: 1px solid white;
    background-color: black;
}

.score {
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5px;

    p {
        width: fit-content;
    }
}

.cDiv {
    height: auto;
    width: 100%;
}

.reStart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
    background-color: rgba(53, 53, 53, 0.5);
    width: 600px;
    height: 600px;
    position: absolute;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input[type="text"] {
            width: 10rem;
            height: 2rem;
            border-radius: 20px;
            border: none;
            margin-top: 3vh;
            padding-left: 10px;
            background-color: rgb(56, 56, 58);
            color: white;
        }
    }

    button {
        margin-top: 3vh;
        color: var(--borders);
        text-decoration: none;
        width: 10rem;
        height: 3rem;
        appearance: button;
        border-radius: 20px;
        border: none;
        background-color: rgb(56, 56, 58);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition-duration: 0.25s;
    }

    button:hover {
        border: 3px solid var(--borders);
        color: white;
    }
}